<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>CashBack</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right"></span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/task-new']"><i class="fa fa-circle-o"></i>Incluir CashBack</a></li>
            <li><a [routerLink]="['/cash-back-list']"><i class="fa fa-circle-o"></i>Listar CashBack</a></li>
          </ul>
      </li>
    </ul>
  </section>
</aside>
